<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<table th:fragment="currency" class="table text-center">
    <thead>
    <tr>
        <th>Money</th>
        <th>Affiliation</th>
        <th>Team Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!-- $9,223,372,036,854,775,807 -->
        <td><small>$6,854,775,807</small></td>
        <td><small>Team Magma</small></td>
        <td><small>6,854,775,807</small></td>
    </tr>
    </tbody>
</table>
</body>
</html>