<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- TODO: pass party pokemon to fragment -->
<div th:fragment="party" class="row no-gutters">
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col no-gutters progress-bar-container m-1">
        <img class="img-fluid border w-100" th:src="@{/static/images/sprites/pokemon/normal/1.png}" />
        <div class="progress progress-bar-experience">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
</body>
</html>