<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- TODO: pass party pokemon to fragment -->
<div th:fragment="party" class="row no-gutters">
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
    <div class="col col-md no-gutters">
        <img class="p-0 border img-responsive" th:src="@{1.png}" />
    </div>
</div>
</body>
</html>