<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="row" th:fragment="legal">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Legal Information</div>
                <div class="card-body">
                    <p class="card-text">
                        ORPG is a fan-made <abbr>MMORPG</abbr> based on the popular franchise Pok&egrave;mon.
                        <abbr>ORPG</abbr> and it's creators are in no way affiliated, associated, authorized or otherwise
                        endorsed by: Gamefreak, Creatures, Nintendo of America, Nintendo of Japan, Warner Brothers,
                        4 Kids Entertainment, The Pok&egrave;mon Company or any of their subsidiaries or affiliates.
                    </p>
                    <p class="card-text">
                        All Pok&egrave;mon content including Pok&egrave;mon names, images, artwork, logos, and
                        so forth are all the intellectual property of Nintendo of America, Nintendo of Japan,
                        GameFreak Inc, Creatures Inc, Warner Brothers, 4 Kids Entertainment, the Pok&egrave;mon company,
                        Wizards of the Coast, and any other entities whom posses copyrights to the Pok&egrave;mon
                        franchise and is protected under U.S. and International copyright laws.
                    </p>
                    <p class="card-text">
                        <abbr>ORPG</abbr> does it's absolute best to fully abide by "Fair use" laws as to limit our use
                        of copyrighted material. Furthermore, all website designs, code, and other material not mentioned
                        above are the intellectual property of <abbr>ORPG</abbr> and it's associated owners and are
                        copyrighted material. Use of these materials without explicit permission from <abbr>ORPG</abbr> or
                        it's owners are forbidden and subject to legal action.
                    </p>
                    <p class="card-text">
                        <strong>
                            <abbr>ORPG</abbr> and it's owners will never accept or otherwise engage in any activity in
                            which monetary compensation would be given for our work or other activities related to
                            <abbr>ORPG</abbr>.
                        </strong>
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        Please note that fraudulent copyright claims also known as copyfraud are illegal and will be
                        reported to the property authorities and are subject to further legal action.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>